@use "./var";
@use "./mixin";
*{margin:0;padding:0;font-family:"Pretendard","NanumGothic","나눔고딕",'Noto Sans KR',"Malgun Gothic","맑은고딕","Apple SD Gothic Neo","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial", sans-serif;}
*, :after, :before {box-sizing:border-box;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
html, body {height:100%;color:var.$text-primary;font-size:var.$defaultFontSize;}
img, picture, video, canvas, svg {display:block;max-width:100%;}
img, a, label{display:inline-block;vertical-align:middle;}
button {background:none;border:0;vertical-align:middle;cursor:pointer;}
a {text-decoration:none;cursor:pointer;color:var.$text-primary;}
table {border-collapse:collapse;border-spacing:0}
caption{@include mixin.blind;}
ul,ol,li{box-sizing:border-box;list-style:none;margin:0;}
h1,h2,h3,h4,h5,h6,b,strong{display:inline-block;font-weight:600;color:var.$black-900;font-style:normal;}
i,em{font-style:normal;}

// scroll
*{
  scrollbar-width:thin;
  &::-webkit-scrollbar {width:10px;}
  &::-webkit-scrollbar-thumb {background-color:#9ba6b4;}
  &::-webkit-scrollbar-track {background-color:#f0eeee;box-shadow:inset 0px 0px 5px white;border-radius:5px;}
}

// keyframes
@keyframes spin {
  0% { -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); -o-transform: rotate(359deg); -webkit-transform: rotate(359deg); transform: rotate(359deg);}
}


//func
.blind{@include mixin.blind;}

// font
.t{
  &_red{color:var.$red-300!important;}
  // &_yellow{color:var.$yellow!important;}
  // &_skyblue{color:var.$skyblue;}
  // &_blue{color:var.$blue;}
}
// align
.align{
  &_l{text-align:left;}
  &_r{text-align:right;}
  &_c{text-align:center;}
}

//ipt custom
select,
textarea,
input:not(:is([type="radio"],[type="checkbox"])){@include mixin.ipt_common;}
input[type="radio"]{border-radius:50%;vertical-align:middle;accent-color:var.$primary;}
input[type="checkbox"]{border-radius:2px;vertical-align:middle;accent-color:var.$primary;}
input[type="number"]::-webkit-inner-spin-button {appearance:none;-moz-appearance:none;-webkit-appearance:none;}
textarea{max-height:300px;resize:none;background:transparent;}
input[list]{padding-left:35px;background:url(../images/ico_search.png) 10px 50% no-repeat;}
input[list]::-webkit-calendar-picker-indicator{-webkit-appearance:none;-moz-appearance:none;appearance:none;padding:2px 30px 2px 10px;background:url(../images/btn_select.png) right 8px center no-repeat, rgba(255,255,255,.9);list-style:none!important;
  option:nth-of-type(1){color:#989898;}
}
input:is([type="radio"],[type="checkbox"]).is-invalid,
input.is-invalid{position:relative;box-shadow: 0 0 0 2px var.$error;background-color:#faebe9;color:var.$error;}
.is-invalid{color:var.$error;
  // &.on{display:block;visibility:visible;}
}
input:read-only{background-color:#eeeff1;}
label:has(input){display:inline-flex;justify-content:flex-start;align-items:center;gap:5px;white-space:nowrap;}
.required{
  &::after{content:"＊";font-size:12px;color:var.$red-300;}
}
input[type="datetime-local"],
input[type="time"],
input[type="date"]{position:relative;}
input[type="datetime-local"]::-webkit-calendar-picker-indicator,
input[type='time']::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator{position:relative;z-index:2;right:-5px;width:12px;height:12px;background:url(../images/ico_calendar.png) 0 0 / contain no-repeat;cursor: pointer;}
select{padding:5px 10px;}
.check_group{@include mixin.flex;
  label{flex:1;}
}
.ipt_group{@include mixin.flex{gap:4px;}}
.ipt_range{@include mixin.flex{gap:8px;};
  &::before{content:'~'};
  input:first-of-type{order:-1;}
}
.px_range{@include mixin.flex{gap:22px;};font-size:14px;
  &::before{content:'×';font-size:24px;}
  input{width:110px;text-align:center;}  
  label:first-of-type{order:-1;}
}
.time_range{@include mixin.flex{gap:20px};
  input:not(:is([type="radio"],[type="checkbox"])){width:85px;}
  label:has([type="checkbox"]){margin-left:10px;}
}
textarea,
.full{flex:1;width:100%;}

// ext
.ext_bmp {@include mixin.ico_ext(0, 0);}
.ext_jpg,.ext_jpeg {@include mixin.ico_ext(1, 0);}
.ext_gif {@include mixin.ico_ext(2, 0);}
.ext_png {@include mixin.ico_ext(3, 0);}
.ext_tif {@include mixin.ico_ext(4, 0);}
.ext_pdf {@include mixin.ico_ext(5, 0);}
.ext_ppt,.ext_pptx {@include mixin.ico_ext(6, 0);}
.ext_ai  {@include mixin.ico_ext(7, 0);}
.ext_xls,.ext_xlsx {@include mixin.ico_ext(8, 0);}
.ext_psd {@include mixin.ico_ext(9, 0);}
.ext_doc {@include mixin.ico_ext(0, 1);}
.ext_hwp {@include mixin.ico_ext(1, 1);}
.ext_txt {@include mixin.ico_ext(2, 1);}
.ext_c   {@include mixin.ico_ext(3, 1);}
.ext_cpp {@include mixin.ico_ext(4, 1);}
.ext_jav {@include mixin.ico_ext(5, 1);}
.ext_htm {@include mixin.ico_ext(6, 1);}
.ext_css {@include mixin.ico_ext(7, 1);}
.ext_js  {@include mixin.ico_ext(8, 1);}
.ext_log {@include mixin.ico_ext(9, 1);}
.ext_m4a {@include mixin.ico_ext(10, 1);}
.ext_swf {@include mixin.ico_ext(11, 1);}
.ext_au  {@include mixin.ico_ext(0, 2);}
.ext_mid {@include mixin.ico_ext(1, 2);}
.ext_mod {@include mixin.ico_ext(2, 2);}
.ext_mp2 {@include mixin.ico_ext(3, 2);}
.ext_mp3 {@include mixin.ico_ext(4, 2);}
.ext_ogg {@include mixin.ico_ext(5, 2);}
.ext_ra  {@include mixin.ico_ext(6, 2);}
.ext_rm  {@include mixin.ico_ext(7, 2);}
.ext_snd {@include mixin.ico_ext(8, 2);}
.ext_voc {@include mixin.ico_ext(9, 2);}
.ext_wav {@include mixin.ico_ext(10, 2);}
.ext_wma {@include mixin.ico_ext(11, 2);}
.ext_avi {@include mixin.ico_ext(0, 3);}
.ext_mov {@include mixin.ico_ext(1, 3);}
.ext_mpg {@include mixin.ico_ext(2, 3);}
.ext_mv  {@include mixin.ico_ext(3, 3);}
.ext_asf {@include mixin.ico_ext(4, 3);}
.ext_asx {@include mixin.ico_ext(5, 3);}
.ext_qt  {@include mixin.ico_ext(6, 3);}
.ext_rv  {@include mixin.ico_ext(7, 3);}
.ext_wmx {@include mixin.ico_ext(8, 3);}
.ext_mp4 {@include mixin.ico_ext(9, 3);}
.ext_fla {@include mixin.ico_ext(10, 3);}
.ext_flv {@include mixin.ico_ext(11, 3);}
.ext_ps {@include mixin.ico_ext(12, 3);}
.ext_alz {@include mixin.ico_ext(0, 4);}
.ext_arj {@include mixin.ico_ext(1, 4);}
.ext_bzz {@include mixin.ico_ext(2, 4);}
.ext_egg {@include mixin.ico_ext(3, 4);}
.ext_gz  {@include mixin.ico_ext(4, 4);}
.ext_jar {@include mixin.ico_ext(5, 4);}
.ext_rar {@include mixin.ico_ext(6, 4);}
.ext_tar {@include mixin.ico_ext(7, 4);}
.ext_tgz {@include mixin.ico_ext(8, 4);}
.ext_zip {@include mixin.ico_ext(9, 4);}
.ext_7z  {@include mixin.ico_ext(10, 4);}
.ext_etc {@include mixin.ico_ext(11, 4);}
.ext_wmv {@include mixin.ico_ext(1, 5);}
.ext_wvz {@include mixin.ico_ext(2, 5);}
.ext_bzs {@include mixin.ico_ext(3, 5);}
.ext_html{@include mixin.ico_ext(0, 5);}
.ext_hwpx{@include mixin.ico_ext(0, 6);}

/* paginate */
.tui-pagination{display:flex;align-items:center;justify-content:center;margin-top:32px;text-align:center;gap:2px;
  span{vertical-align:top;}
  .tui-page-btn{position:relative;flex:0 30px;padding:5px;color:#333;font-size:15px;line-height:normal;font-weight:normal;border-radius:2px;
    &.tui-is-selected,
    &:hover{color:#fff;background-color:var.$primary;}
    &.tui-is-disabled ::before,
    &.tui-is-disabled:hover{background-color:transparent;color:#ccc;}
  }
  $_tui_ico_btn:( 'prev':'〈', 'next':'〉', 'first':'〈〈', 'last':'〉〉' );
  @each $type, $txt in $_tui_ico_btn{
    .tui-#{$type}{_width /**/:47px;width:30px;height:30px;background-color:#fff;margin:0 1px;
      &:hover{background-color:#edf0f3;}
    }
    .tui-ico-#{$type}{@include mixin.f-blind;
      &::before{font-size:10px;line-height:19px;font-weight:bold;color:#000;content:$txt;}
    }
  }
}
