@use "./var";
@use "./reset";
@use "./mixin";
@use "./gridCustom.scss";
@use 'sass:list';
@use 'sass:map';
@use 'sass:color';

.switch{
  &_set{display:flex;gap:3px;
    label{@include mixin.label_item;}
  }
  &_single{text-align:center;
    &>label{position:relative;display:block;width:100%;line-height:26px;font-size:13px;
      &:has(input[type=checkbox]:checked){background-color:var.$gray-200;color:#fff;}
    }
    input{@include mixin.ipt_hidden;}
    & + button{width:100%;margin-top:5px;}
    & + .period_custom{display:none;}
  }
  &_toggle{display:inline-flex;flex-shrink:0;justify-content:center;vertical-align:middle;
    $unselectedColor:#dfdfdf;$hoverColor:#868686;$selectColor:var.$primary;
    label{position:relative;left:-1px;width:40px;height:18px;cursor:pointer;z-index:100;background-color:#fff;border-radius:28px;word-break:keep-all;white-space:nowrap;border:1px solid $unselectedColor;vertical-align:middle;outline:none;cursor:pointer;letter-spacing:-.05em;font-size:0;
      &::after{position:absolute;top:1px;right:22px;display:inline-block;content:"";width:14px;height:14px;background-color:$unselectedColor;border-radius:50%;transition:.05s;}
      &:hover+label{box-shadow:0 0 3px $unselectedColor;}   
      &:has(:checked){transition:0.5s;border-color:$selectColor;
        &:hover{box-shadow:0 0 3px $selectColor;}
        &::after{right:2px;background-color:$selectColor;}
        &[data-labelon]::before{content:attr(data-labelon);}
      }
    }
    input{@include mixin.ipt_hidden;}
    [data-label],[data-labelon],[data-labeloff]{margin-left:45px;
      &::before{position:absolute;right:calc(100% + 8px);display:block;text-align:right;font-size:14px;line-height:22px;}
    }
    [data-label]::before{content:attr(data-label);}
    [data-labeloff]::before{content:attr(data-labeloff);}
  }
  &_ico{
    label{cursor:pointer;}
    input{@include mixin.ipt_hidden;}
  }
  &_pw{position:absolute;right:20px;top:50%;margin-top:-10px;
    &>label{display:flex;width:24px;height:20px;font-size:0;align-items:center;justify-content:center;cursor:pointer;
      &::before{@include mixin.fontello('\eb83');font-size:20px;color:#B5B5B5;}
      &:has(input[type=checkbox]:checked)::before{content:"\eb82";}
    }
    input[type=checkbox]{position:absolute;width:0px;height:0px;overflow:hidden;opacity:0;}
  }
}
.btn_gray{@include mixin.btn($bg:var.$gray-650);
  &_line{@include mixin.btn($border:var.$gray-650, $color:#555);}
}
.btn_default{@include mixin.btn($bg:var.$primary);
  &_line{@include mixin.btn(var.$primary, var.$primary, #fff);}
}
.btn_cancel{@include mixin.btn($bg:var.$gray-400);
  &_line{@include mixin.btn(var.$gray-400);color:var.$gray-400;}
}
.btn_add,.btn_modify{@include mixin.btn($border:var.$primary,$color:var.$primary,$addTxt:'\ea47',$hover:false);font-weight:600;padding:6px 8px;}
.btn_modify::before{content:'\ea49';transform:rotate(-45deg);}
.btn_del{@include mixin.btn($border:var.$gray-300,$color:#999,$addTxt:'\ea49',$hover:false);font-weight:600;padding:6px 8px;}
.btn_confirm{@include mixin.btn(var.$gray-100);background-color:#f9fafb;color:#717171;padding:0 10px;font-weight:normal;}
.btn_excel{@include mixin.btn(var.$green-600, var.$green-600);color:var.$green-600;font-weight:normal;}
.btn_tblModify{@include mixin.ico_only($y:-84px,$w:18px,$h:18px,$imgurl:'btn.png');}
.btn_tblDel{@include mixin.ico_only($y:-112px,$w:18px,$h:18px,$imgurl:'btn.png');}

// .icobtn_login{@include mixin.flex;gap:7px;color:#464c53;
//   &::before{@include mixin.icobtn($y:-49px,$w:32px);content:"";}
//   &:hover{font-weight:600;}
// }
.btn_cross{@include mixin.ico_only('\eb2e');}
.txt_success{color: map.get(var.$result, success);}
.txt_fail{color: map.get(var.$result, fail);}
.txt_normal{color: map.get(map.get(var.$connection, connection), color);}
.txt_error{color: map.get(map.get(var.$connection, disconnection), color);}
.ext{@include mixin.text_ellipsis();display:inline-block;font-weight:normal;color:var.$text-primary;text-align:left;max-width:200px;vertical-align:middle;}
.linked_top{
  &::before{@include mixin.fontello('\e892');display:block;width:65px;font-size:24px;text-align:center;margin:0 auto;color:#92a4b8;border:1px solid #c6d6e7;border-radius:8px;padding:5px 20px;}
  & > .tbl_wrap{margin-top:20px;}
}
.gis_area{position:relative;background-color:var.$bg-soft;}
.flex_wrap > .gis_area{flex:.7;}
.symbols{position:absolute;left:0;top:0;width:100%;height:100%;}
.symbol,.marker{position:absolute;left:var(--left);top:var(--top);}
.symbol > button, .marker{display:flex;white-space:pre;justify-content:center;width:28px;height:28px;background-repeat:no-repeat;font-size:0;cursor:pointer;	
	&.selected,
	&:has(:checked){background-image:url(../images/device_ico_on_GR.png);width:24px;height:35px;transform:translate(2px, -18px);}	
}
.symbol{border-radius:50%;
	& > button{background-image:url(../images/device_ico_GR.png);
		&.fail{background-image:url(../images/device_ico_RE.png);
			&.selected{background-image:url(../images/device_ico_on_RE.png);}
		}
		&.notuse{background-image:url(../images/device_ico_GY.png);
			&.selected{background-image:url(../images/device_ico_on_GY.png);}
		}
	}
}
.marker{background-image:url(../images/device_ico_GY.png);
  &:has(.layer){z-index:1000;}
}
.marker input{position:absolute;opacity:0;width:0;height:0;appearance:none;outline:none;box-shadow:none;vertical-align:middle;}
.BIS, .CDB, .LDB, .TDB, .PDB, .ADD{background-position-x:0;
	&::before{background-position-x:0;}
}
.VBS, .VNS, .VNI, .VNO, .RAS, .DSB{background-position-x:-33px;
	&.selected,&:has(:checked){background-position-x:-36px;}
	&::before{background-position-x:-25px;}
}
.BIS, .VBS{background-position-y:0;
	&.selected,&::before{background-position-y:0;}
}
.VNS, .CDB{background-position-y:-35px;
	&.selected,&:has(:checked){background-position-y:-45px;}
	&::before{background-position-y:-26px;}
}
.VNI, .LDB{background-position-y:-70px;
	&.selected,&:has(:checked){background-position-y:-90px;}
	&::before{background-position-y:-52px;}
}
.VNO, .TDB{background-position-y:-105px;
	&.selected,&:has(:checked){background-position-y:-135px;}
	&::before{background-position-y:-78px;}
}
.RAS, .PDB{background-position-y:-140px;
	&.selected,&:has(:checked){background-position-y:-180px;}
	&::before{background-position-y:-104px;}
}
.DSB, .ADD{background-position-y:-175px;
	&.selected,&:has(:checked){background-position-y:-225px;}
	&::before{background-position-y:-130px;}
}
.layer{position:absolute;left:100%;top:0;width:290px;background-color:#fff;border-radius:5px;padding:15px;border:1px solid #b4b4b4;box-shadow:0 2px 9px rgba(0, 0, 0, .22);margin:-8px 0 0 13px;
	& > strong{display:block;width: calc(100% - 20px);color:var.$black-800;font-size:16px;margin-bottom:5px;}
	.btn_cross{float:right;
		&::before{font-size:14px;color:var.$black-900;}
	}
	.lst{@include mixin.flex($direction:column,$align:flex-start);gap:5px;font-size:var.$defaultFontSize;
		li{display:flex;align-items:flex-start;}
		&::before{position:absolute;@include mixin.shape(10px,10px);transform:scaleX(1.2) rotate(45deg);background-color: #fff;border:1px solid #b4b4b4;border-width:0 0 1px 1px;left:-6px;top:17px;overflow:hidden;}
		em{flex-shrink:0;width:80px;font-weight:600;
			&::before{content:"·";margin-right:5px;}
		}
	}
}
.toast_alarm{display:block;position:fixed;z-index:9999;bottom:10px;right:10px;
  ul{display:flex;flex-direction:column;gap:5px;}
	li{display:flex;align-items:stretch;justify-content:flex-end;gap:10px;width:300px;border-radius:5px;border:1px solid #000;background-color:#fff;
    &::before{@include mixin.shape(30px,auto);background:url(../images/ico_toast.png) 50% no-repeat, red;margin-right:auto;}
  }
  $colors : #4749c3,#fb6617,#ef4848;
  @for $i from 1 through 3{
    .toastbg#{$i}{border-color:list.nth($colors, $i);
      &::before{background-color:list.nth($colors, $i);}
    }
  }
  .toast_msg{flex:0 1 auto;text-align:right;padding:5px 0;overflow:hidden;
    p{@include mixin.text_ellipsis();text-align:right;}
    b{color:#ef4848;font-size:16px;font-weight:800;}
  }
	.toast_time{font-size:11px;}
	.btn_cross{align-self:flex-start;margin:8px;}
}
// layout
.wrap{display:flex;flex-direction:column;min-width:var.$mainwidth;height:100vh;font-size:13px;}
.header{position:relative;flex-shrink:0;border-bottom:1px solid #e1e3e6;z-index:100;
  .top_wrap{display:flex;justify-content:space-between;align-items:center;width:var.$mainwidth;height:65px;margin:0 auto;padding:0 var.$maingap;}
  .main_logo{line-height:1;    
    a{@include mixin.shape(261px,31px);background:url(../images/logo.png) 0 0 no-repeat;}
  } 
}
.util{@include mixin.flex;gap:24px;}
.top_stat{@include mixin.flex;gap:14px;
  b{font-size:14px;font-weight:normal;letter-spacing:-.7px;}
}
.account{@include mixin.flex;gap:24px;color:#464c53;
  .btn_account{@include mixin.ico_only($w:32px,$h:32px,$imgurl:'btn.png');}
  .btn_logout{@include mixin.ico_only($y:-42px,$w:32px,$h:32px,$imgurl:'btn.png');}
}

// .util{margin-left:auto;}
$navH:193px;
.nav{position:relative;flex-shrink:0;height:48px;border-bottom:1px solid var.$gray-200;background-color:#fff;
  // &::after{position:absolute;top:100%;left:0;@include mixin.shape(100%, 0);background-color:#fff;transition:height .5s .2s;margin-top:1px;z-index:200;box-shadow:0 2px 10px rgba(0, 0, 0, .13);}
  // &:hover{
  //   &::after{height:$navH;}
  //   .sub{height:$navH;}
  // }
}
.nav_lst{display:flex;height:100%;align-items:center;width:var.$mainwidth;margin:0 auto;
  & > li{flex:1;position:relative;height:100%;z-index:300;text-align:center;
    // &:first-child .sub{border-left:1px solid #e4e5e9;}
    & > a{position:relative;top:1px;display:inline-flex;align-items:center;justify-content:center;height:100%;font-weight:700;font-size:18px;padding:0 14px;border-bottom:3px solid transparent;color:var.$black-900;
      &.on{color:var.$primary;border-color:var.$primary;}
      &:hover{color:var.$primary;}
    }  
  }
}
// .sub{display:flex;flex-direction:column;width:100%;height:0;gap:15px;z-index:200;overflow:hidden;transition:height .5s .2s;
//   li:first-child{margin-top:27px;}
//   a{color:#666;font-size:14px;font-weight:normal;padding:0 15px;letter-spacing:-.05em;word-break:keep-all;
//     &:hover{font-weight:700;}
//     &.on{font-weight:700;color:var.$primary;}
//   }
// }
.footer{display:flex;align-items:center;justify-content:center;flex-shrink:0;height:30px;background-color:#dcdcdc;font-size:12px;color:#1b1b1b;}
.lnb{flex-shrink:0;width:220px;padding-top:7px;
  h1{font-size:22px;line-height:1;margin-bottom:15px;color:var.$black-900;}
}
.lnb_lst{border-top:1px solid #909090;
  li{border-bottom:1px solid var.$gray-200;}
  a{display:block;padding:15px 10px;font-size:16px;}
  .on{font-weight:700;background-color:#eef2f7;}
}
.flex_wrap{@include mixin.flex($align:stretch);
  & > :is(div,section){flex:1 0;position:relative;}
}
.flex_vertical_wrap{@include mixin.flex($align:stretch,$direction:column){gap:var.$maingap;}}
[data-empty]:empty{@include mixin.flex($align:center,$justify:center);height:100%;background-color:var.$bg-default;font-size:14px;gap:13px;
  &::before{@include mixin.fontello('\e877');color:#b1c0d0;font-size:22px;}
  &::after{content:attr(data-empty);color:var.$mute-blue;}
}

.main_container{flex:1;@include mixin.flex($align:stretch);gap:50px;width:var.$mainwidth;margin:0 auto;;padding:var.$maingap + 10 var.$maingap var.$maingap + 5;}
.cont_body{flex:1;width:100%;
  & > .flex_wrap{position:relative;gap:var.$sectiongap;}
  & > .tit{margin-bottom:var.$maingap;
    h1{@include mixin.flex;gap:18px;font-size:24px;color:var.$black-900;letter-spacing:-2.25px;font-weight:600;}   
  }
}
.search{@include mixin.flex;gap:4px;border:1px solid var.$gray-300;border-width:1px 0;padding:10px 0;margin-bottom:10px;}
.search_lst,.search_form{@include mixin.flex;gap:4px;}
//table
.tbl_top{@include mixin.flex;gap:6px;margin-bottom:10px;font-size:14px;
  .info{@include mixin.explanation;}
}
$defaultTblH:453px;
.tbl_wrap{background-color:var.$bg-default;border-top:2px solid var.$primary;overflow-y:auto;
  tr:is(td:first-of-type:has(:checked),.on){background-color:var.$bg-soft;}
  .tbl_hover tr:hover{cursor:pointer;background-color:var.$bg-light; }
}
.tbl_row_wrap{border:1px solid var.$gray-300;border-width:1px 0;
  .tbl_default{text-align:left;
    th{padding:3px 25px;width:220px;}
    td{padding:3px 15px;}
  }
  tr:last-child{border-bottom-width:0;}
}
.tbl_default{width:100%;text-align:center;background-color:#fff;
  thead{position:sticky;left:0;top:0;
    &::after{@include mixin.shape(100%,0);position:absolute;left:0;bottom:0;border-bottom:1px solid var.$gray-300;}
  }
  tbody tr{border-bottom:1px solid var.$border-default;} 
  th,td{padding:4px;}
  th{color:var.$black-800;font-size:14px;background-color:var.$bg-default;font-weight:normal;}  
  td{
    &:has(button:only-child){padding:3px 2px;}
    &:has(.switch_pw){position:relative;}
  }
}
.tbl_bot{@include mixin.flex;border-bottom:1px solid var.$border-ipt;padding:15px 40px;background-color:#fff;
  .device_result{margin-left:auto;gap:60px;}
}
.tbl_ipt{width:100%;border:1px solid var.$gray-300;border-width:1px 0;text-align:left;
  tr:not(:first-of-type) :is(th,td){border-top:1px solid var.$border-default;}
  th{background-color:var.$bg-light;}
  th,td{padding:8px;}
}
.full_ipt :is(input:not(:is([type="radio"],[type="checkbox"])),select){width:100%;}
//box
.box_default{@include mixin.box;
  textarea{padding:10px 15px;font-size:14px;color: #464c53;border:none;}
  .tool{justify-content:flex-end;margin-top:10px;}
}
.box_grey{@include mixin.box($bgColor:var.$bg-default);}
// list
.dot_lst{
  li{@include mixin.flex($align:flex-start){gap:5px;};
    em{font-weight:normal;}
    &::before{@include mixin.shape(2px,2px);position:relative;top:8px; background-color:#222;border-radius:50%;}
  }
}
.ipt_lst{display:grid;grid-template-columns:repeat(2,1fr);row-gap:15px;column-gap:70px;
  &:not(:first-of-type){border-top:1px solid #f3f3f3;padding-top:15px;margin-top:30px;}
  label,.label{width:100%;flex-shrink:0;line-height:30px;
    & + button{margin-left:20px;}
  }
  .full{grid-column:1 / span 2;}
  & > li{
    & > input{width:100%;}   
  }
  .inline{@include mixin.flex($align:flex-start);gap:70px;border:1px solid #f3f3f3;border-width:1px 0;padding:10px 0;
    label,.label{width:auto;}
  }
  &.divide3{grid-template-columns: repeat(3,1fr);
    .full{grid-column:1 / span 3;}
    .span2{grid-column:span 2;}
  }
}
.device_type{flex:1;display:grid;grid-template-columns:repeat(auto-fill, minmax(120px, auto));}
.ipt_group{@include mixin.flex;}
.ipt_groupCheck{@include mixin.flex;gap:20px;}
.selected{margin-top:7px;}
.tag_lst{@include mixin.flex;gap:8px;flex-wrap:wrap;color:#777;padding:8px;border:1px solid var.$border-ipt;
  li{@include mixin.flex($align:center);gap:8px;border:1px solid var.$blue-150;border-radius:11px;line-height:1;padding:4px 7px 4px 9px;font-size:12px;}
  .btn_cross::before{font-size:12px;color:var.$gray-500;}
}
//tab
.tabs{border-bottom:2px solid var.$primary;
  ul{display:flex;gap:4px;
    li{min-width:70px;border:1px solid var.$border-default;border-bottom-width:0; border-radius:4px 4px 0 0;background-color:#fff;}
    a{display:block;text-align:center;padding:3px 5px;color:#55606e;}
    .on{background-color:var.$primary;border-color:transparent;
      a{color:#fff;font-weight:700;}
    }
  }
}
// tit
.bredcrumb{margin-left:auto;
  ul{@include mixin.flex;}
  li{color:#888;letter-spacing:-.65px;
    &:first-child{
      @include mixin.ico_only($y:-84px);
      a{@include mixin.f_blind;}
    }
    &:last-child{color:#000;}
    &::before{@include mixin.fontello('\f105');margin:0 8px;color:#888;}
  }
}
.tit{@include mixin.flex;margin-bottom:var.$maingap;line-height:1;
  h1{letter-spacing:-.11px;font-size:22px;}
  h2{@include mixin.flex{gap:7px};font-size:16px;letter-spacing:-0.8px;
    &::before{@include mixin.shape(11px,17px);background:url(../images/bullet.png) 0 -33px / 100% no-repeat;}
  }
  &:has(h2){margin-bottom:10px;}
  h3{@include mixin.flex;gap:9px;color:var.$primary;
    &::before{@include mixin.shape(6px,6px);background-color:var.$primary;border-radius:50%;}
  }
}
.tool{@include mixin.flex;gap:6px;margin-left:auto;}
.section_tit{@extend .tit;color:var.$primary;font-size:18px;font-weight:700;}
.circle_tit{@extend .tit;font-size:18px;font-weight:500;color:#222;margin-bottom:10px;
  &::before{display:inline-block;@include mixin.shape(14px,14px);border:4px solid #408be0;border-radius:50%;margin-right:7px;letter-spacing:-.45px;}
}
.section_bot{@include mixin.flex;margin-top:30px;}
//login
.wrap:has(.login){@include mixin.flex($justify:center,$align:center,$direction:column);width:100vw;height:100vh;gap:34px;overflow:hidden;background:linear-gradient(to bottom, #fff 58%,var.$bg-default 58%);
  .footer{height:fit-content;color:var.$gray-400;font-size:14px;background-color:transparent;} 
}
.login{width:800px;gap:50px;background-color:#fff;border-radius:10px;box-shadow:0 0 6px 0 rgba(3, 3, 3, 0.14);text-align:center;
  header{@include mixin.flex($align:center,$justify:center);height:160px;background-color:var.$primary;border-radius:10px 10px 0 0;
    h1{display:inline-block;color:#fff;font-weight:normal;font-size:36px;}
    strong{color:#fff;margin-right:35px;}
  }
}
.login_ipt{@include mixin.flex($align:flex-start,$direction:column);gap:15px;margin-top:auto;padding:60px 140px;border:1px solid var.$gray-400;border-top-width:0;border-radius:0 0 10px 10px;
  input:not([type="checkbox"]){width:100%;border-width:0 0 1px;border-radius:0;color:#000;line-height:40px;}
}
.btn_login{width:100%;line-height:76px;border-radius:37px;background-image:linear-gradient(25deg,var.$blue-600,var.$blue-500);font-size:20px;color:#fff;font-weight:700;text-align:center;margin-top:75px;}

//connection_stat

$_types:(auto:var.$mute-purple,manual:var.$mute-olive,real:var.$mute-red,test:var.$mute-green,training:var.$mute-blue);
.type{@include mixin.flex();gap:5px;margin:6px 0 0 auto;
  i{flex:0 0 43px;line-height:21px;text-align:center;color:#fff;font-size:13px;border-radius:5px;font-weight:600;}
  @each $type, $color in $_types {
    .#{$type}{background-color:$color;}
  }
}
.ico_connection,
.ico_disconnection{@include mixin.ico_only($w:32px,$h:32px);}
.ico_disconnection::before{background-position-y:-42px;}

@each $state, $value in var.$connection {
  .ico_stt_#{$state} {@include mixin.status($state,$icoBg:true);border-radius:50%;@include mixin.f-blind;
    &::before{width:16px;height:16px;border-radius:50%}
  }
}
.stat_device{position:relative;gap:15px;height:calc(100vh - 335px);overflow-y:auto;
  .tit{@include mixin.stickyTit;gap:8px;
    &::before{@include mixin.shape(3px,3px);border-radius:50%;background-color:var.$gray-800;margin-left:2px;}
  }
  h1{font-size:14px;}
  .tbl_wrap{border-top:1px solid var.$gray-300;}
}
.connect_dashboard{gap:12px;
  & > :is(.warning_platform_stat,.device_dashboard){@include mixin.flex($align:flex-start);@include mixin.box($padding:8px 17px);flex:1;font-size:15px;}
  strong{margin-top:8px;}
}
.warning_platform_stat{
  .tool{align-self:flex-end;}
}
.device_dashboard{flex:0 0 335px;
  ul{@include mixin.flex($direction:column,$align:stretch);margin-left:auto;}
  li{flex:1;@include mixin.flex($justify:flex-end);font-size:12px;gap:6px;
    &::before{width:16px;height:16px;border-radius:50%;margin-right:auto;}
    $index: 1;
    @each $state, $value in var.$connection {
      &:nth-of-type(#{$index}){
        @include mixin.status($state,$bg_color:null,$border_opacity:.3,$icoBg:true);
      }
      $index: $index + 1;
    }
  }
  span{width:30px;text-align:right;}
  // strong{@include mixin.flex();gap:5px;width:96px;color:#fff;font-size:14px;border-radius:20px;line-height:32px;padding:0 7px;
  //   &::before{width:20px;height:20px;border:2px solid #fff;border-radius:50%;}
  // }
  // span{margin-left:auto; font-weight:600;font-size:30px;}
}
.device_stt_count{@include mixin.flex;gap:8px;
  $index: 1;
  li{
    @each $state, $value in var.$connection {
      &:nth-of-type(#{$index}) i{
        @include mixin.status($state,$bg_color:null,$border_opacity:.3,$icoBg:true);
      }
      $index: $index + 1;
    }
  }
  i{@include mixin.flex();gap:6px;border:1px solid transparent;padding:3px 16px 3px 6px;border-radius:12px;
    &::before{width:16px;height:16px;border-radius:50%;}
  }
  span{margin-left:6px;font-weight:600;}
}
.right_section:has(.disaster_lst) .tit{@include mixin.stickyTit($sticky:false);}
.disaster_lst{gap:17px;height:calc(100vh - 270px);overflow-y:auto;
  & > li{
    &:hover a{box-shadow:0 3px 13px 0 rgba(0, 0, 0, .19);}
    & > a{@include mixin.box;display:block;padding:20px 35px;}
  }
}
.disaster_info{@include mixin.flex($align:flex-start);gap:30px;
  dt{font-size:16px;margin-bottom:5px;
    & > b{display:block;color:var.$gray-700;font-size:12px;font-weight:normal;}
  }
  dd > strong{font-weight:normal;margin-right:14px;
    &::before{content:"·";margin-right:5px;}
  }
  .disaster_symbol{align-self:center;}
  .type{margin-left:auto;}
}
.group_result{margin-top:10px;
  & > li{@include mixin.flex();background-color: #eff1f4;border-radius:6px;padding:5px 20px;font-size:14px;margin-top:5px;}
}
.device_result{@include mixin.flex;gap:20px;
  button{@include mixin.flex($align:center);gap:8px;color:var.$black-600;
    &::before{@include mixin.shape(6px,6px);outline:3px solid transparent;border-radius:50%;}
  }
  strong{margin-left:2px;}
 @each $state, $color in var.$result {
    .stt_#{$state}{
      &::before{outline-color:rgba($color,.5);background-color:$color;}
      strong{color:$color}
    }
  }
}
.alert_history{height:173.5px;}
.admin_set{gap:70px;padding-top:20px;
  .ipt_lst{grid-template-columns:repeat(4,1fr);}
}