@use "./var";
@use "./mixin";

// ============================================
// Login Page Layout
// ============================================

.wrap:has(.login) {
  @include mixin.flex($justify: center, $align: center, $direction: column);
  width: 100vw;
  height: 100vh;
  gap: 34px;
  overflow: hidden;
  background: linear-gradient(to bottom, #fff 58%, var.$bg-default 58%);
  
  .footer {
    height: fit-content;
    color: var.$gray-400;
    font-size: var.$input-font-size;
    background-color: transparent;
  }
}

.login {
  width: 800px;
  gap: var.$spacing-5xl;
  background-color: #fff;
  border-radius: var.$box-border-radius;
  box-shadow: 0 0 6px 0 rgba(3, 3, 3, 0.14);
  text-align: center;
  
  header {
    @include mixin.flex($align: center, $justify: center);
    height: 160px;
    background-color: var.$primary;
    border-radius: var.$box-border-radius var.$box-border-radius 0 0;
    
    h1 {
      display: inline-block;
      color: #fff;
      font-weight: normal;
      font-size: 36px;
    }
    
    strong {
      color: #fff;
      margin-right: 35px;
    }
  }
}

.login_ipt {
  @include mixin.flex($align: flex-start, $direction: column);
  gap: var.$spacing-xl;
  margin-top: auto;
  padding: 60px 140px;
  border: 1px solid var.$gray-400;
  border-top-width: 0;
  border-radius: 0 0 var.$box-border-radius var.$box-border-radius;
  
  input:not([type="checkbox"]) {
    width: 100%;
    border-width: 0 0 1px;
    border-radius: 0;
    color: #000;
    line-height: var.$spacing-4xl;
  }
}
