@use "./var";
@use "./mixin";

// ============================================
// Button Base Styles
// ============================================

// Gray Buttons
.btn_gray {
  @include mixin.btn($bg: var.$gray-650);
  
  &_line {
    @include mixin.btn($border: var.$gray-650, $color: #555);
  }
}

// Primary/Default Buttons
.btn_default {
  @include mixin.btn($bg: var.$primary);
  
  &_line {
    @include mixin.btn(var.$primary, var.$primary, #fff);
  }
}

// Cancel Buttons
.btn_cancel {
  @include mixin.btn($bg: var.$gray-400);
  
  &_line {
    @include mixin.btn(var.$gray-400);
    color: var.$gray-400;
  }
}

// Action Buttons
.btn_add,
.btn_modify {
  @include mixin.btn(
    $border: var.$primary,
    $color: var.$primary,
    $addTxt: '\ea47',
    $hover: false
  );
  font-weight: 600;
  padding: var.$spacing-sm var.$spacing-md;
}

.btn_modify::before {
  content: '\ea49';
  transform: rotate(-45deg);
}

.btn_del {
  @include mixin.btn(
    $border: var.$gray-300,
    $color: #999,
    $addTxt: '\ea49',
    $hover: false
  );
  font-weight: 600;
  padding: var.$spacing-sm var.$spacing-md;
}

// Utility Buttons
.btn_confirm {
  @include mixin.btn(var.$gray-100);
  background-color: #f9fafb;
  color: #717171;
  padding: 0 var.$spacing-lg;
  font-weight: normal;
}

.btn_excel {
  @include mixin.btn(var.$green-600, var.$green-600);
  color: var.$green-600;
  font-weight: normal;
}

// Table Action Buttons
.btn_tblModify {
  @include mixin.ico_only($y: -84px, $w: 18px, $h: 18px, $imgurl: 'btn.png');
}

.btn_tblDel {
  @include mixin.ico_only($y: -112px, $w: 18px, $h: 18px, $imgurl: 'btn.png');
}

.btn_tblAdd {
  @include mixin.ico_only($y: -140px, $w: 18px, $h: 18px, $imgurl: 'btn.png');
}

.transfer_toolbar{
  @include mixin.flex($justify:center);
}

.btn_add_selected{
  @include mixin.ico_only($font:'\e892');
  width: 65px;
  text-align: center;
  border: 1px solid #c6d6e7;
  border-radius: var.$spacing-md;
  padding: var.$spacing-sm var.$spacing-2xl;
  &::before {
    font-size: var.$icon-size-xl;
    color: #92a4b8;
  }
}


// Icon Buttons
.btn_cross {
  @include mixin.ico_only('\eb2e');
}

// Login Button
.btn_login {
  width: 100%;
  line-height: 76px;
  border-radius: 37px;
  background-image: linear-gradient(25deg, var.$blue-600, var.$blue-500);
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-top: 75px;
}

// Test Button
.btn_test {
  color: var.$primary;
  border: 1px solid var.$primary;
  border-radius: var.$spacing-sm;
  background-color: rgba(var.$primary, 0.1);
  padding: var.$spacing-xs var.$spacing-xl;
  font-weight: 700;
  margin-right: 7px;
}
