// ext
.ext_bmp {@include mixin.ico_ext(0, 0);}
.ext_jpg,.ext_jpeg {@include mixin.ico_ext(1, 0);}
.ext_gif {@include mixin.ico_ext(2, 0);}
.ext_png {@include mixin.ico_ext(3, 0);}
.ext_tif {@include mixin.ico_ext(4, 0);}
.ext_pdf {@include mixin.ico_ext(5, 0);}
.ext_ppt,.ext_pptx {@include mixin.ico_ext(6, 0);}
.ext_ai  {@include mixin.ico_ext(7, 0);}
.ext_xls,.ext_xlsx {@include mixin.ico_ext(8, 0);}
.ext_psd {@include mixin.ico_ext(9, 0);}
.ext_doc {@include mixin.ico_ext(0, 1);}
.ext_hwp {@include mixin.ico_ext(1, 1);}
.ext_txt {@include mixin.ico_ext(2, 1);}
.ext_c   {@include mixin.ico_ext(3, 1);}
.ext_cpp {@include mixin.ico_ext(4, 1);}
.ext_jav {@include mixin.ico_ext(5, 1);}
.ext_htm {@include mixin.ico_ext(6, 1);}
.ext_css {@include mixin.ico_ext(7, 1);}
.ext_js  {@include mixin.ico_ext(8, 1);}
.ext_log {@include mixin.ico_ext(9, 1);}
.ext_m4a {@include mixin.ico_ext(10, 1);}
.ext_swf {@include mixin.ico_ext(11, 1);}
.ext_au  {@include mixin.ico_ext(0, 2);}
.ext_mid {@include mixin.ico_ext(1, 2);}
.ext_mod {@include mixin.ico_ext(2, 2);}
.ext_mp2 {@include mixin.ico_ext(3, 2);}
.ext_mp3 {@include mixin.ico_ext(4, 2);}
.ext_ogg {@include mixin.ico_ext(5, 2);}
.ext_ra  {@include mixin.ico_ext(6, 2);}
.ext_rm  {@include mixin.ico_ext(7, 2);}
.ext_snd {@include mixin.ico_ext(8, 2);}
.ext_voc {@include mixin.ico_ext(9, 2);}
.ext_wav {@include mixin.ico_ext(10, 2);}
.ext_wma {@include mixin.ico_ext(11, 2);}
.ext_avi {@include mixin.ico_ext(0, 3);}
.ext_mov {@include mixin.ico_ext(1, 3);}
.ext_mpg {@include mixin.ico_ext(2, 3);}
.ext_mv  {@include mixin.ico_ext(3, 3);}
.ext_asf {@include mixin.ico_ext(4, 3);}
.ext_asx {@include mixin.ico_ext(5, 3);}
.ext_qt  {@include mixin.ico_ext(6, 3);}
.ext_rv  {@include mixin.ico_ext(7, 3);}
.ext_wmx {@include mixin.ico_ext(8, 3);}
.ext_mp4 {@include mixin.ico_ext(9, 3);}
.ext_fla {@include mixin.ico_ext(10, 3);}
.ext_flv {@include mixin.ico_ext(11, 3);}
.ext_ps {@include mixin.ico_ext(12, 3);}
.ext_alz {@include mixin.ico_ext(0, 4);}
.ext_arj {@include mixin.ico_ext(1, 4);}
.ext_bzz {@include mixin.ico_ext(2, 4);}
.ext_egg {@include mixin.ico_ext(3, 4);}
.ext_gz  {@include mixin.ico_ext(4, 4);}
.ext_jar {@include mixin.ico_ext(5, 4);}
.ext_rar {@include mixin.ico_ext(6, 4);}
.ext_tar {@include mixin.ico_ext(7, 4);}
.ext_tgz {@include mixin.ico_ext(8, 4);}
.ext_zip {@include mixin.ico_ext(9, 4);}
.ext_7z  {@include mixin.ico_ext(10, 4);}
.ext_etc {@include mixin.ico_ext(11, 4);}
.ext_wmv {@include mixin.ico_ext(1, 5);}
.ext_wvz {@include mixin.ico_ext(2, 5);}
.ext_bzs {@include mixin.ico_ext(3, 5);}
.ext_html{@include mixin.ico_ext(0, 5);}
.ext_hwpx{@include mixin.ico_ext(0, 6);}