/* paginate */
.tui-pagination{display:flex;align-items:center;justify-content:center;margin-top:32px;text-align:center;gap:2px;
  span{vertical-align:top;}
  .tui-page-btn{position:relative;flex:0 30px;padding:5px;color:#333;font-size:15px;line-height:normal;font-weight:normal;border-radius:2px;
    &.tui-is-selected,
    &:hover{color:#fff;background-color:var.$primary;}
    &.tui-is-disabled ::before,
    &.tui-is-disabled:hover{background-color:transparent;color:#ccc;}
  }
  $_tui_ico_btn:( 'prev':'〈', 'next':'〉', 'first':'〈〈', 'last':'〉〉' );
  @each $type, $txt in $_tui_ico_btn{
    .tui-#{$type}{_width /**/:47px;width:30px;height:30px;background-color:#fff;margin:0 1px;
      &:hover{background-color:#edf0f3;}
    }
    .tui-ico-#{$type}{@include mixin.f-blind;
      &::before{font-size:10px;line-height:19px;font-weight:bold;color:#000;content:$txt;}
    }
  }
}
